#container {
    background-color: khaki;
}

#text {
    font-size: 14px;
}

#copy {
    background-color: #a0bf38;
    border-radius: 8px;
    border-color: #457a91;
    color: #fff;
    font-size: 14px;
}

#copy:hover {background-color: #3e8e41}
#copy:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(1px);
  }